<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form action='/user_sign_up' method="post">
    <label>
      User name
    <input type='text' name='user_name'>
  </label>
  <label>
    email
  <input type='text' name='email'>
</label>
<label>
  password
<input type='text' name='password'>
</label>
<input type='submit' value='sign up'>
  </form>
</body>
</html>
